<%= form_with model: prototype, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "アプリの名称" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "紹介文" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :github, "GitHub" %><br />
    <%= f.text_area :github, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "アプリの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>