<div class="card">
  <%= link_to prototype_path(prototype.id),method: :get do %>
  <%= image_tag prototype.image.variant(resize: '300x300'), class: :card__img if prototype.image.attached? %>
 <% end %>
  <div class="card__body">
     <%= link_to  prototype.title, prototype_path(prototype.id), class: :card__title%>
     <%= link_to  "作成者：#{prototype.user.name}", user_path(prototype.user.id), class: :artist__title %>
    <p class="card__summary">
  
    </p>
    <%= prototype.genre.name %>
  </div>
</div>