<div class='title-contents'>
    <h2 class='service-title'>
      集え！＃駆け出しエンジニア！
    </h2>
    <p class='service-explain'>
      Mentoreはエンジニア転職を目指す
    </p>
    <p class='service-explain'>
      仲間を増やせるマッチングアプリです！
    </p>
</div>

  <div class='feature-contents'>
    <h2 class='title'>
      FURIMAが選ばれる3つの理由
    </h2>
  </div>  

  <div class="persona__wrapper">
    <%= link_to image_tag("top_img1.png", class: :logo), root_path %>
    <%= link_to image_tag("top_img2.png", class: :logo), root_path %>
    <%= link_to image_tag("top_img3.png", class: :logo), root_path %>
  </div>
  
  <div class='feature-contents'>
    <h2 class='title'>
      FURIMAの特徴
    </h2>
  </div>

  <div class="persona__wrapper">
    <%= link_to image_tag("top_img4.png", class: :logo), new_prototype_path %>
    <%= link_to image_tag("top_img5.png", class: :logo), root_path %>
    <%= link_to image_tag("top_img6.png", class: :logo), new_book_path %>
    <%= link_to image_tag("top_img7.png", class: :logo), root_path %>
  </div>

  <div class='work-contents'>
    <h2 class='title'>ポートフォリオ</h2>
  </div>  

  <div class="card__wrapper">
    <%= render partial: 'prototype', collection: @prototypes %>
  </div>  

    <div class='work-contents'>
    <h2 class='title'>ITエンジニア本</h2>
  </div>  

  <div class="card__wrapper">
    <%= render partial: 'books/book', collection: @books %>
  </div>  