<main class="main">
  <div class="inner">
      <% if user_signed_in? %>
      <div class="greeting">
 
      </div>
      <% end %>
    <div class="persona__wrapper">
      <%= link_to image_tag("top_img1.png", class: :logo), root_path %>
      <%= link_to image_tag("top_img2.png", class: :logo), root_path %>
      <%= link_to image_tag("top_img3.png", class: :logo), root_path %>
    </div>

    <div class="service__wrapper">
      <%= link_to image_tag("top_img4.png", class: :logo), new_user_registration_path %>
      <%= link_to image_tag("top_img5.png", class: :logo), root_path %>
      <%= link_to image_tag("top_img6.png", class: :logo), root_path %>
      <%= link_to image_tag("top_img7.png", class: :logo), root_path %>
      <%= link_to image_tag("top_img8.png", class: :logo), root_path %>
    </div>

    <div class="card__wrapper">
      <%= render partial: 'prototype', collection: @prototypes %>
    </div>
  </div>
</main>