<div class='title-contents'>
    <h2 class='service-title'>
      集え！＃駆け出しエンジニア！
    </h2>
    <p class='service-explain'>
      Mentoreはエンジニア転職を目指す
    </p>
    <p class='service-explain'>
      仲間を増やせるマッチングアプリです！
    </p>
</div>

  <div class='feature-contents'>
    <h2 class='title'>
      こんな方にオススメ！
    </h2>
  </div>  

  <div class="persona__wrapper">
    <%= image_tag("top_img1.png", class: :logo) %>    
    <%= image_tag("top_img2.png", class: :logo) %>
    <%= image_tag("top_img3.png", class: :logo) %>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>まずは、無料でもサービスを使いたい</p>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>エンジニア初学者同士で気軽に交流をしたい</p>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>SNS等でお互いのことを知った上で、安心・安全に繋がりたい！</p>
  </div>
  
  <div class='feature-contents'>
    <h2 class='title'>
      Mentoreの特徴
    </h2>
  </div>

  <div class="personan__wrapper">
    <%= link_to image_tag("top_img4.png", class: :logo), new_prototype_path %>
    <%= link_to image_tag("top_img5.png", class: :logo), calendars_path %>
    <%= link_to image_tag("top_img6.png", class: :logo), new_book_path %>
    <%= link_to image_tag("top_img7.png", class: :logo), operations_path %>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>ライバルのポートフォリオとGitHubを見れる</p>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>お互いに緊張感が持てる、面接練習したい相手を募集する</p>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>最近、読んだ技術書やビジネス書の感想を投稿できる！</p>
    <p class='text-explain'><%= image_tag("point4.png", class: :stepup) %>転職サポートプラン（有料）では専任エージェントによるサポートを受けられます！</p>
  </div>

  <div class='work-contents'>
    <h2 class='title'>ポートフォリオ</h2>
  </div>  

  <div class="card__wrapper">
    <%= render partial: 'prototype', collection: @prototypes %>
  </div>  

    <div class='work-contents'>
    <h2 class='title'>ITエンジニア本</h2>
  </div>  

  <div class="card__wrapper">
    <%= render partial: 'books/book', collection: @books %>
  </div>  