<div class="main">
  <div class="inner">
    <div class="user__wrapper">
          <h2 class="page-heading">
      
      <% if user_signed_in? && current_user.id %>
        <div class="prototype__manage">
         
        </div>
      <% end %>
        <%= @user.name %>
        <%= image_tag("twitter.png", class: :photo) %>
        <%= link_to "ユーザーの編集をする", edit_user_path(@user.id), class: :prototype__btn %> 
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">自己紹介</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">前職</th>
            <td class="table__col2"><%= @user.occupation.name %></td>
           
          </tr>
          <tr>
            <th class="table__col1">学習進捗</th>
            <td class="table__col2"><%= @user.study.name %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= "#{@user.age.name}歳" %></td>
          </tr>
            <tr>
            <th class="table__col1">Twitter</th>
           
            <td class="table__col2"><%= link_to image_tag("twitter.png", class: :twitter), @user.sns %><%= link_to "Twitterを見る", @user.sns, class: :under %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "ポートフォリオ一覧" %>
      </h2>
      <div class="user__card">
        <%= render partial: '/prototypes/prototype', collection: @prototypes %>
      </div>
    </div>
  </div>
</div>