<div class="card">
  <%= link_to book_path(book.id),method: :get do %>
  <%= image_tag book.image.variant(resize: '300x300'), class: :card__img if book.image.attached? %>
 <% end %>
  <div class="card__body">
     <%= link_to  book.title, book_path(book.id), class: :card__title%>
     <%= link_to  "作成者：#{book.user.name}", user_path(book.user.id), class: :artist__title %>
    <p class="card__summary">
      <%= book.genre.name %>   
    </p>
    <%= book.concept %>
  </div>
</div>