<h2 class="interview-heading">面接カレンダー<%= image_tag("top_img5.png", class: :top) %></h2>
    <p class='interview-explain'>
      お互いに緊張感が持てる、面接練習したい相手を募集しよう！
    </p>

<%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>

    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :お名前と時間を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit 'カレンダーに保存' %>
  <% end %>


  
    <p class='interview-explain'><%= image_tag("step1.png", class: :step) %>日付、お名前、時間を指定して面接相手を募集しよう！</p>
    <p class='interview-explain'><%= image_tag("step2.png", class: :step) %>面接カレンダーをみて都合が良ければ、積極的に面接相手を引き受けよう！</p>
    <p class='interview-explain'><%= image_tag("step3.png", class: :step) %>ユーザーリストからTwitterで面接相手と繋がりZoomで面接練習をしましょう！</p>

  <div class=calendar>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %>  <%= day[:wday] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

<h2 class="interview-heading">ユーザーリスト<%= image_tag("face.png", class: :top) %></h2>
  <div class="card__wrapper">
    <%= render partial: 'users/user', collection: @users %>
  </div>