<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("mentore.png", class: :icon), root_path %>
          </div>
          
            <div class="nav__right">
            <%= flash[:notice] %>
            <% if user_signed_in? %>     
              <%= form_with(local: true, method: :get, class: "search-form") do |form| %>
                <%= form.text_field :keyword, placeholder: "面接相手を検索する", class: "search__btn" %>
                <%= form.submit "検索", class: "push__btn" %>
                <%= link_to image_tag("face.png", class: :user), user_path(current_user.id) %>
                <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link %> 
                <%= link_to "トップページへ", root_path, class: :greeting__link %>
            <% end %>

              <%= link_to "アプリ投稿", new_prototype_path, class: :nav__btn %>
              <%= link_to "面接カレンダー", calendars_path, class: :nav__btn %>
              <%= link_to "Bookシェア", new_book_path, class: :nav__btn %>
              <%= link_to "転職サポート", operations_path, class: :nav__btn %>
            </div>
            <% else %>              
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              <%= link_to 'ゲストログイン（閲覧用）',  application_guest_sign_in_path, method: :post, class: :nav__btn %>
            </div>
            <% end %>
        </div>
      </div>
    </header>
     <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Mentore All rights reserved.</p>
    </footer>
  </body>
</html>
