<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
            <div class="nav__right">
            <% if user_signed_in? %>
              <%= form_with(local: true, method: :get, class: "search-form") do |form| %>
                <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search__btn" %>
                <%= form.submit "検索", class: "push__btn" %>
                <%= link_to "ログイン中", user_path(current_user.id), class: :greeting__link%>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <% end %>

              <%= link_to "アプリ投稿", new_prototype_path, class: :nav__btn %>
              <%= link_to "面接カレンダー", new_prototype_path, class: :nav__btn %>
              <%= link_to "技術書メモ", new_prototype_path, class: :nav__btn %>
              <%= link_to "企業面接", new_prototype_path, class: :nav__btn %>
            </div>
            <% else %>              
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
        </div>
      </div>
    </header>
      <div class='title-contents'>
        <h2 class='service-title'>
          集え！駆け出しエンジニア！
        <p>
        <%= link_to image_tag("signin.png", class: :logo), new_user_session_path %>
        <%= link_to image_tag("signup.png", class: :logo), new_user_registration_path %>
        </p>
        </h2>
        <p class='service-explain'>
          FURIMAはだれでもかんたんに出品・購入できる
        </p>
        <p class='service-explain'>
          フリマアプリです
        </p>
      </div>

      <div class='select-reason-contents'>
        <h2 class='title'>
          FURIMAが選ばれる3つの理由
        </h2>
      
      <div class='feature-contents'>
        <h2 class='title'>
          FURIMAの特徴
      </h2>

      <div class='item-contents'>
        <h2 class='title'>ポートフォリオ</h2>
        <%= link_to 'ユーザー新規投稿', "#", class: "subtitle" %>
      <ul class='item-lists'>

    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © MENTORE All rights reserved.</p>
    </footer>
  </body>
</html>
