<div class='operations-contents'>
    <h2 class='service-title'>
      20代向け・エンジニア転職サービス！
    </h2>
    <p class='service-explain'>
      企業面接プランでは現役エンジニアから
    </p>
    <p class='service-explain'>
      面接のフィードバックをもらえます！
    </p>
</div>

  <div class='feature-contents'>
    <h2 class='title'>
     専任エージェント指導<%= image_tag("top_img7.png", class: :top) %>
    </h2>
  </div>  

  <div class="persona__wrapper">
    <%= image_tag("plan1.png", class: :lego) %>    
    <%= image_tag("plan2.png", class: :lego) %>
    <%= image_tag("plan3.png", class: :lego) %>
    <p class='text-explain'>・ 経験豊富なキャリアアドバイザーと個別カウンセリングを行います。</p>
    <p class='text-explain'>・ ポートフォリオ・履歴書・職務経歴書の添削や面接対策をサポート。</p>
    <p class='text-explain'>・ 初めて転職される方でも、安心してバックアップします！</p>
  </div>
  
  <div class='feature-contents'>
    <h2 class='title'>
      企業面接サポート
    </h2>
  </div>

  <div class="personan__wrapper">
    <%= image_tag("plan4.png", class: :lego) %>
    <%= image_tag("plan5.png", class: :lego) %>
    <%= image_tag("plan6.png", class: :lego) %>
    <%= image_tag("plan7.png", class: :lego) %>
    <p class='text-explain'>・ いざ面接！ご希望に応じて、前日に面接対策を行います。</p>
    <p class='text-explain'>・ 合否を問わず、企業から面接のフィードバックをもらえます。</p>
    <p class='text-explain'>・ 月々980円で、いつでも解約できます！</p>
    <p class='text-explain'>・ あなたが希望するエンジニアを一緒に目指しましょう！</p>
  </div>

  <%= link_to "転職サポートを申込む（仮設置）", operations_path, class: :apply__btn %>
